body {
    background: linear-gradient(to right, #ca4220, #feb47b);
}

header {
    font-size: 3em;
    display: flex;
    justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers the text vertically */
    background: linear-gradient(to left, #ff86d9, #e9c4ec); /* Gradient colors */
    -webkit-background-clip: text; /* Clips the background to the text */
    -webkit-text-fill-color: transparent; /* Makes the text color transparent */
}


nav {
    background-color: black;
    display: flex;
    justify-content: space-around; /* Flexbox method */
    padding: 10px;
}

.nav-button {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 0 15px; /* Margin method */
    padding: 10px 15px; /* Padding method */
    border-radius: 5px; /*Add outline of button */
}

.nav-button:hover {
    background-color: #feb47b;
}

.front-page {
    background-image:url('better-pig-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#about-title {
    display: flex;
    justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers the text vertically */
}

.home-page-text {
    display: inline-block;
    margin: 0 15px; /* Margin method */
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.home-page-text p {
    margin: 0px; /* Removes default margin from paragraphs */
    white-space: nowrap; /* Prevents paragraphs from wrapping to the next line */
}

.image {
    display: flex;
    justify-content: center; /* Centers the text horizontally */
    align-items: flex-start; /* Aligns top of images */
}

.ham-pic {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers the text vertically */
}

.heritage-text {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;
}

#ham-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#farm-text {
    text-align: right;
    margin-right: 15%;
    margin-top: 10%;
}

.q-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poem-title {
    display: flex;
    margin-left: 15%;
    align-items: center;
    margin-top: 5%;
}

.poem {
    margin-right: 10%;
    margin-left: 10%;
}

.poem-div {
    display: flex;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 2;
}

#sec-row {
    padding: 5%;
}

.donate-page {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.donate-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-align: center;
}

.fun-button {
    display: inline-block;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px;
    border: 3px solid #feb47b;
    background-color: aqua;
    padding: 10px, 15px;
    margin: 5px, 10px;
    font-size: 20px;
    width: 100px;
    transition: transform 0.3s ease; 
}

.fun-button:hover {
    background-color: coral;
    transform: translateY(5px);
    transform: translateX(5px);
}

.testimonies {
    display: flex;
    align-items: center;
    justify-content: center;
}